.topbar{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 150px;
    width: auto;
    padding-top: 3rem;
    box-sizing: border-box;
}

.topbar .button {
    width: 150px;
    justify-content: center;
    background-color: var(--bg-sidebar);
}

.topbar .tabs{
    display: flex;
    gap: 1.5rem;
}

.topbar .topbar-title{
    font-size: 2.5rem;
}

.select{
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: .2rem;
    cursor: pointer;
}
