:root{
    --bg-taskbar: #2b2b2b;
    --bg-sidebar: #010b13;
    --bg-tab: #1AA7EC;
}

body {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    margin: 0px;
}

h1 {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

.taskbar button {
    align-items: center;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 1rem 2rem;    
    font-size: 18px;
}

.taskbar button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


.links {
    display: flex;
    flex-direction: column;
}