/* * {
    box-sizing: border-box;
} */

body {
    width: 100%;
    margin: 0px;
}

h1 {
    margin: 0px;
}

button {
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: column;
}