.message-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 95%;
    background-color: white;
    border-radius: 15px;
    padding: 0 2rem ;
}

.message-display .display{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    border-bottom: 4px solid var(--bg-tab);
    overflow-y: scroll;
}

.message-display .text{
    width: 100%;
    height: 20%;
}

.message-display .group-title{
    background-color: var(--bg-tab);
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 1rem;
    color: white;
    font-weight: 400;
    margin-bottom: 1rem;
    width: 100%;
}

::-webkit-scrollbar{
    width: 12px;
}

.empty{
    display: flex;
    width: 100%;
    height: 100%;
}

.empty .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.empty .container .caption{
    width: 400px;
    font-size: 4rem;
    line-height: 1.2;
}

.empty img{
    height: 650px;
}

.empty .caption .highlight{
    color: var(--bg-tab);
    font-weight: 600;
    font-size: 4.3rem;
}