:root{
    --bg-profile: #34A0A4
}

.container-profile{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 70px;
    background: var(--search);
    font-size: 1.3rem;
    border-radius: 5px;
}


.container-profile:hover{
    cursor: pointer;
}

.profile img{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
}


.profile.group img{
    filter: invert(100%) sepia(0%) saturate(7450%) hue-rotate(189deg) brightness(125%) contrast(100%);
    background-color: transparent;
    border-radius: 0px;
}

.name{
    color: white;
    width: 80%;
    text-align: center;
}

.main-content .navigation-main .container-profile{

    flex-shrink: 0;
    flex-grow: 0;
}