:root{
    --bg-profile: #34A0A4
}

.container-profile{
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 70px;
    background: var(--search);
    font-size: 1.3rem;
    border-radius: 5px;
}

.container-profile:hover{
    cursor: pointer;
}

.profile{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 100%;
}

.name{
    color: white;
    width: 80%;
    text-align: center;
}

.navigation-main .container-profile{
    width: 100%;
}