.map_container {
    height: 100%;
    width: calc(100% - 400px);
    /* z-index: '0!important'; */
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(100%) contrast(90%);
}