.pageBox {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pageBox .prev{
    transform: scaleX(-1);
}

.pageBox img:hover{
    cursor: pointer;
}