:root{
    --bg-accent: #28282B; 
}

.navi{
    width: 80%;
    height: 70%;
    background-color: var(--bg-primary);
    border-radius: 15px;
    padding: 2.5rem;
    box-sizing: border-box;
}

.selection{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;

    padding-bottom: 1.5rem;
    border-bottom: 3px solid black;
}

