.taskbar {
    display: flex;
    background-color: var(--bg-taskbar);
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    height: 6rem;
    box-sizing: border-box;
}

.taskbar h1  {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 0px 20px;
}


