.header{
    background-color: var(--bg-sidebar);
    height: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
    border-bottom: 1rem;
    border-bottom-style:groove;
    border-color: var(--bg-tab);
    border-right: 5px;
    border-right-style:solid;
    border-right-color: var(--bg-tab);
    
}

.header h1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 4rem;
    padding-bottom:2rem;
}