:root{
    --bg-secondary: #023E8A;
    --bg-primary: #0077B6
}

.friends.container{
    display: grid;
    width: 1200px;
    height: 80%;
    background-color: var(--bg-secondary);
    grid-template-columns: 300px 300px 300px;
    gap: 1rem;
    overflow-y: auto;
}