.map{
    display: flex;
    justify-content: start;
    width: fit-content;
    height: 100%;
    background: var(--bg);
}
.map .filterAndEvents{
    width: 800px;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
}