.map{
    display: flex;
    flex-shrink: 0;
    justify-content: start;
    width: 100%;
    height: 100%;
    background: var(--bg);
}

.map .filterAndEvents{
    width: 800px;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
}