.container{
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: rgb(109, 107, 107);
    border-radius: 5px;
}

.profile{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 100%;
}

.name{
    color: white;
    width: 80%;
    text-align: center;
}