.filterBox{
    height: 900px;
    width: 800px;
}

.filterBox .filters{
    border: 1px solid black;
    height: 100px;
    width: 704px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filterBox .filters .oneFilter{
    height: 25px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}